/* Google font Lobster */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,600&family=M+PLUS+1+Code:wght@300;400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,300;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,600;1,700;1,900&family=Roboto+Slab:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

:root {
  --transition: all 300ms ease;
  --color-white: #fff;
  --color-warning: #ffce31;
  --color-success: #29f5a6;
  --color-primary-light: hsl(14, 89%, 53%, 12%);
  --color-primary: #f24e1e;
  --color-black: black;
  --color-dark: #525252;
  --color-light: #f4f4f4;
}

section.about {
  background: var(--color-black);
}

/* ####### About Section css */

section.about .container {
  display: grid;
  grid-template-columns: 26rem auto;
  gap: 5rem;
}

section.about p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
 
}

.info p a {
  color: rgb(248, 233, 26);
}
section.about .container .read-more-content {
  display: none;
}

section.about .container .read-more-content.show-content {
  display: block;
}
section.about .container .read-more {
  display: block;
  margin: 1rem 0 2rem;
  color: var(--color-white);
  font-size: 1.2rem;
}

.info a {
  font-weight: bold;
}

section.about h1 {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
 
 
}

section.about h1 span{
  font-family: Arial, Helvetica, sans-serif;
}

section.about .container .read-more:hover {
  text-decoration: underline;
}

.show-more-p{
  font-size: 1.4rem;
}

/* #### About section css ends##### */

/* ######## Skills section css starts ###### */

section.skills .container .skill-icon img {
  width: 55px;
  height: 55px;
  align-items: center;
}

section.skills {
  margin-top: -4rem;
  font-size: 1rem;
}

section.skills .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-auto-rows: minmax(100px, auto);
}

.box {
  width: 40%;
  padding: 40px;

  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
  color: #ffff;
  border-radius: 9px;
  margin: auto;
}

.progress {
  width: 100%;
  background-color: rgba(56, 49, 49);
  border-radius: 10px;
  margin: 18px 0px;
  height: 25px;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: linear-gradient(
    rgba(105, 117, 170, 0.959),
    rgba(7, 108, 148, 0.9)
  );
  border-radius: 10px;
  position: relative;
  transition: all 1.5s;
}

.progress-bar span {
  position: absolute;
  top: 0%;
  right: 0%;
}

.box p {
  font-weight: bold;
  color: yellow;
  font-size: 1.4rem;

}

@media (max-width: 500px) {
  section.about {
    margin-top: -5rem;
  }

  section.about .container {
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
  }

  section.about .container .info p {
    font-size: 1.1rem;
  }

  section.about .container .image img {
    width: 80%;
  }

  .box {
    display: grid;
    width: 100%;
  }

  section.skills .container .skill-icon img {
    width: 35px;
    height: 35px;
    margin-left: 19px;
  }
  section.skills h1 {
    font-size: 1.5rem;
  }
}

/* ###### Project section CSS ###### */

#projects {
  padding: 10rem 0;
}
#projects .item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 6rem;
  /* gap: 2rem; */
}
section .section-heading {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 4rem;
}

#projects .item .left {
  flex: 1;
}
#projects .item .right {
  margin-right: -150px;
  flex: 1;
  background-color: var(--body-bg);
  padding: 5rem 3rem;
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000028;
  z-index: 2;
}

#projects .item .left .img {
  height: 350px;
  width: 520px;

  overflow: hidden;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 0px 20px #4705fc33;
  position: relative;
  object-fit: cover;
}
#projects .item .left .img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #5a24ed38;
}
#projects .item .left .img img {
  object-fit: center;
  height: 100%;

  transition: 0.3s ease transform;
}
#projects .item:hover .left .img img {
  transform: scale(1.1);
  z-index: 1;
}
#projects .item .right .project-title {
  font-size: 2.5rem;
  font-family: "Montserrat";
  margin-bottom: 1rem;
}
.btn-2 {
  color: rgb(238, 222, 5);
  margin-left: 10px;

  padding: 15px;
  width: 10rem;
  margin-top: 20px;
  border-radius: 0.7rem;
  background-color: var(--color-dark);
}

.btn-2 i {
  color: white;
  margin-right: 0.5rem;
}

#projects .item .right .project-sub-title {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
#projects .item .right .project-desc {
  color: var(--secondary-gray);
  margin-bottom: 3rem;
}

/* ####### Project section media queries ### */

@media (max-width: 500px) {
  #projects {
    margin-top: -13rem;
  }
  #projects .section-heading {
    font-size: 2rem;
  }
  #projects .container .all-items .item .left .img {
    object-fit: center;
    width: 80%;
    margin-left: 2.5rem;
    height: 60vw;
    transition: 0.3s ease transform;
  }

  #projects .container .all-items .item {
    margin-top: -2rem;
  }

  #projects .container .all-items .item .right {
    width: 100%;
    height: 100%;
  }

  #projects .container .all-items .item .right .project-title {
    font-size: 1.5rem;
    margin-top: -2rem;
    text-align: center;
  }
  #projects .container .all-items .item .right .project-sub-title {
    font-size: 1.1rem;
    text-align: center;
  }

  #projects .container .all-items .item .right .project-desc {
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    overflow: hidden;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-2 {
    font-size: 0.7rem;
  }
}

/* #####  End of Project section CSS ####### */

section.contact {
  padding: 0;
  max-width: 100vw;
  margin-top: -5rem;
}

/* ###### Contact Me CSS ######### */
section.contact {
  background: linear-gradient(rgba(14, 15, 15, 0.1), rgba(19, 13, 22, 1)),
    url("./images/contact-us2.jpeg");
  background-size: cover;
  background-position: center;
  padding: 0;
  max-width: 100wh;
}

section.contact .over {
  width: 100%;
  height: 100%;
  padding: 10rem 0 7rem;
  background: rgba(0, 0, 0, 0.4);
}

section.contact .container {
  width: 40%;
}

section.contact .container h1 {
  margin: 0;
  color: var(--color-light);
  text-align: center;
}

section.contact .container p {
  text-align: center;
  color: var(--color-light);
  opacity: 0.8;
}

section.contact form {
  margin-top: 3rem;
}

section.contact form input,
section.contact form textarea {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 1.6rem;
  border: 1px solid var(--color-light);
  background: transparent;
  color: var(--color-light);
  transition: var(--transition);
}

section.contact form input:focus,
section.contact form textarea:focus {
  background: var(--color-light);
  color: var(--color-black);
}

section.contact form textarea {
  height: 10rem;
}

section.contact form input::placeholder,
section.contact form textarea::placeholder {
  color: var(--color-light);
}

section.contact form .btn-primary {
  width: 10rem;
  border: none;
  background: yellow;
  color: black;
  margin: 2rem auto 0;
  font-weight: bold;
}

section.contact form .btn-primary:hover {
  background: #525252;
  color: white;
  cursor: pointer;
}

/* ##### Contact Page Css ends ####### */

/* ##### Contact section Media queries ### */

@media (max-width: 500px) {
  .container h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: -10rem;
  }
  .container p {
    font-size: 1.2rem;
    text-align: justify;
  }
  form{
   
   width: 280px;
   margin-left: -3rem;
   height: 100%;
  }
section.contact form .btn-primary{
  font-size: 1rem;
  padding: 1.2rem;
 text-align: center;
 margin-left: 50px;
}
  
}

/* ####footer css starts */

footer{
  color: white;
  background-color: black;
}

.flex-row{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: .5rem;
}

.flex-row li a{
  color: rgb(11, 211, 194);
  padding: 20px;
  font-family: 1rem;
  font-weight: 500;
  font-size: 20px;
}

.flex-row li a:hover{
  color: white;
}

.footer-container{
  display: flex;
  flex-direction:column;
  align-items: center;
 
}

.flex-row li i{
  cursor: pointer;
  font-size: 30px;
}



.flex-row ul{
  margin-bottom: 32px;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-row li{
  padding: 0 15px;
  margin-bottom: 16px;
}

.footer-p{
  text-align: center;
  
}



